@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

* {
    font-family: 'Inter', sans-serif;
    padding: 0;
    margin: 0;
}

.containers {
    width: 95%;
    margin: 0 auto;
}

.transition_img {
    transition: transform 1s ease-in-out !important;
}

.animate-right {
    animation: slideRight 0.5s ease-in-out;
}

@keyframes slideRight {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.animate-left {
    animation: slideLeft 0.5s ease-in-out;
}

@keyframes slideLeft {
    0% {
        transform: translateX(0);
        opacity: 1;
    }

    100% {
        transform: translateX(100%);
        opacity: 0;
    }
}

.animateL {
    animation: slideL 0.5s ease-in-out;
}

@keyframes slideL {
    0% {
        transform: translateX(0);
        opacity: 0;
    }

    100% {
        transform: translateX(100%);
        opacity: 1;
    }
}

.animateR {
    animation: slideR 0.5s ease-in-out;
}

@keyframes slideR {
    0% {
        transform: translateX(100%);
        opacity: 1;
    }

    100% {
        transform: translateX(0);
        opacity: 0;
    }
}

.round {
    border-radius: 0 0 0 8px;
}

/* Для WebKit (Chrome, Safari, новые версии Opera) */
/* Цвет полосы прокрутки и фона трека */
::-webkit-scrollbar {
    width: 12px;
}

/* Цвет полосы прокрутки */
::-webkit-scrollbar-thumb {
    background-color: #888;
}

/* Цвет фона трека */
::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

/* Для Firefox */
/* Цвет полосы прокрутки и фона трека */
::-moz-scrollbar {
    width: 2px;
}

/* Цвет полосы прокрутки */
::-moz-scrollbar-thumb {
    background-color: #888;
}

/* Цвет фона трека */
::-moz-scrollbar-track {
    background-color: #f1f1f1;
}

/* Для Internet Explorer/Edge */
/* Цвет полосы прокрутки и фона трека */
::-ms-scrollbar {
    width: 2px;
}

/* Цвет полосы прокрутки */
::-ms-scrollbar-thumb {
    background-color: #888;
}

/* Цвет фона трека */
::-ms-scrollbar-track {
    background-color: #f1f1f1;
}

.bgshadow {
    background: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.33));
}

/* Скрываем оригинальный чекбокс */
input[type="checkbox"] {
    display: none;
}

/* Стилизуем кастомный чекбокс с помощью фоновой картинки */
input[type="checkbox"]+label {
    display: inline-block;
    min-width: 20px;
    /* Ширина картинки */
    min-height: 20px;
    /* Высота картинки */
    background-image: url(/images/uncheck.png);
    /* Путь к изображению неотмеченного чекбокса */
    background-size: cover;
    /* Растягиваем изображение, чтобы оно занимало всю площадь */
    cursor: pointer;
}

/* Обновляем картинку при отметке чекбокса */
input[type="checkbox"]:checked+label {
    background-image: url(/images/checked.png);
    /* Путь к изображению отмеченного чекбокса */
}

.botomsbr {
    border-top: 2px solid #406EC7;
    color: black !important;
}

.rotate {
    animation: rotateAnimation 2s linear infinite;
}

@keyframes rotateAnimation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

/* Стилизация полосы прокрутки */
::-webkit-scrollbar {
    width: 4px;
    height: 0;
}

::-webkit-scrollbar-thumb {
    border-radius: 2px;
    /* Закругление углов полосы прокрутки */
}

::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    /* Цвет трека полосы прокрутки */
}

/* Стилизация кнопок прокрутки (стрелок) */
::-webkit-scrollbar-button {
    background-color: #ccc;
    /* Цвет кнопок прокрутки */
}

/* Убираем стрелки на кнопках прокрутки */
::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment {
    display: none;
}

/* Скрытие полосы прокрутки вне фокуса */
::-webkit-scrollbar-thumb:active {
    background-color: #333;
    /* Цвет полосы прокрутки при активации */
}

/* Скрытие полосы прокрутки при отсутствии активности пользователя */
::-webkit-scrollbar-thumb:hover {
    background-color: #555;
    /* Цвет полосы прокрутки при наведении курсора */
}

@keyframes blink {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }
}

.blinking-img {
    animation: blink 1.5s infinite;
}